<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
    <form action="/login" class="box" method="post">
        <h1>Login</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="" value="Login">
        <!-- <input type="submit" name="" value="Login" , onclick="{{ url_for('index') }}"> -->
    </form>
</body>

</html>